:root {
    --p-01: hsl(198, 90%, 19%);
    --p-02: hsl(190, 76%, 40%);
    --p-03: hsl(174, 69%, 68%);
    --p-04: hsl(186, 59%, 89%);

    --p-white-01: hsl(0, 0%, 96%);
    --p-white-02: hsl(0, 0%, 92%);
    --p-white-03: hsl(0, 0%, 88%);
    --p-white-04: hsl(0, 0%, 51%);

    --p-black-01: hsl(247, 12%, 15%);
    --p-black-02: hsl(251, 13%, 24%);
    --p-black-03: hsl(273, 12%, 31%);
    --p-black-04: hsl(296, 8%, 40%);

    --p-red: hsl(0, 83%, 44%);
}

@font-face {
    font-family: mono;
    src: url(../_fonts/Ubuntu-C.ttf);
}

* {
    color: var(--p-black-01);
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--p-02);
}

footer {
    position: sticky;
    bottom: 0;
}

header {
    color: var(--p-white-04);
}

header,
footer {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 1em;

    background-color: var(--p-01);
}

main {
    height: max-content;
}



label,
input,
p,
a {
    margin: 1em;
}

input {
    max-width: 16em;
}

input,
select {
    background-color: var(--p-white-02);

    border: 1px solid var(--p-black-04);
    border-radius: .5em;
}

input,
select:hover {
    background-color: var(--p-white-03);
    border-color: var(--p-black-03);
}

.hidden {
    display: none;
}

.warning {
    color: var(--p-red);
}

.standard_width {
    width: 36em;
}

.box {
    flex-direction: column;
    justify-content: center;

    max-width: 36em;

    height: fit-content;

    border-radius: .5em;
    padding: 1em;
    margin: 1em;

    border: 1px solid var(--p-black-01);

    background-color: var(--p-white-01);
}

.square {
    aspect-ratio: 1/1;
}

.mono {
    font: 1em "mono";
}

.center_abs {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.flex_grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 1em;
}

.no_deco,
.no_deco:hover {
    text-decoration: none;
}

#add_contact {
    font-size: 4em;
    
    color: var(--p-white-01);

    background-color: transparent;
    border: 0;
}

#add_contact:hover {
    color: var(--p-black-03);
}

#out {
    font-size: 2em;
}