:root {
    --p-01: hsl(198, 90%, 19%);
    --p-02: hsl(190, 76%, 40%);
    --p-03: hsl(174, 69%, 68%);
    --p-04: hsl(186, 59%, 89%);

    --p-white-01: hsl(0, 0%, 96%);
    --p-white-02: hsl(0, 0%, 92%);
    --p-white-03: hsl(0, 0%, 88%);
    --p-white-04: hsl(0, 0%, 51%);

    --p-black-01: hsl(247, 12%, 15%);
    --p-black-02: hsl(251, 13%, 24%);
    --p-black-03: hsl(273, 12%, 31%);
    --p-black-04: hsl(296, 8%, 40%);

    --p-red: hsl(0, 83%, 44%);
}

@font-face {
    font-family: mono;
    src: url(../fonts/Ubuntu-C.ttf);
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--p-02);
}

footer {
    position: sticky;
    bottom: 0;
}

header,
footer {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 1em;

    background-color: var(--p-01);
}

main {
    height: max-content;
}



label,
input,
p,
a {
    margin: 1em;
}

input[type="button"],
input[type="submit"],
p,
h1,
a {
    color: var(--p-black-01);
}

input[type="text"],
input[type="tel"],
input[type="email"]
input[type="password"] {
    max-width: 16em;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
button {
    background-color: var(--p-white-02);

    border: 1px solid var(--p-black-04);
    border-radius: .5em;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
select:hover,
button:hover {
    background-color: var(--p-white-03);
    border-color: var(--p-black-03);
}

.hidden {
    display: none;
}

.warning {
    color: var(--p-red);
}

.box {
    flex-direction: column;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    border-radius: .5em;
    padding: 1em;
    margin: 1em;

    border: 1px solid var(--p-black-01);

    background-color: var(--p-white-01);
}

.mono {
    font: 1em "mono";
}

.center_abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column {
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
}


.no_deco,
.no_deco:hover {
    text-decoration: none;
}

#add_contact {
    -webkit-mask-image: url(../_img/plus_icon.webp);
    mask-image: url(../_img/plus_icon.webp);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    mask-size: contain;

    width: 5em;
    height: 5em;

    background-color: var(--p-white-01);
    aspect-ratio: 1/1;
    border: 0;
}

#add_contact:hover {
    background-color: var(--p-black-03);
}

#contact_list {
    display: flex;
    flex-wrap: wrap;

    margin: 1em;
}